/* @import CSS Global */
@import "./global/global.css";
@import "./utils/tipografia.css";
@import "./utils/cores.css";
@import "./global/header.css";

/* @import CSS Utils */
@import "./utils/componentes.css";

/* @import CSS Home */
@import "./home/introducao.css";

/* @import CSS Bicicletas */
@import "./bicicletas/bicicletas-lista.css";

/* @import CSS Tecnologia */
@import "./tecnologia/tecnologia.css";

/* @import Fonts */
@font-face {
  font-family: "Poppins Regular";
  src: url("../fontes/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../fontes/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fontes/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fontes/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
