/* Seção Bicicletas Lista - Home */
.bicicletas-lista {
  position: relative;
  padding: 60px 0 120px;
  margin: 0 auto;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  box-sizing: border-box;
  padding: 0 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.bicicletas-lista ul li {
  min-width: 280px;
}

.bicicletas-lista ul li a {
  display: block;
}

.bicicletas-lista ul li h3 {
  position: relative;
  margin: 16px 0 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista ul li h3:before {
  content: "";
  display: inline-block;
  background: var(--cor-p1);
  width: 12px;
  height: 8px;
  margin-right: 8px;
  transition: width 0.5s;
}

.bicicletas-lista ul li a:hover h3:before {
  width: 24px;
}

.bicicletas-lista ul li span {
  margin-left: 20px;
}

/* Página Bicicleta */
#bicicleta .bicicletas-lista {
  padding: 120px 0 120px;
}

#bicicleta .bicicletas-lista ul {
  padding: 0;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding: 60px 0 60px;
  }
}
