.tecnologia-bg {
  position: relative;
  background: var(--cor-c11);
  box-shadow: inset 0 80px var(--cor-c0), inset 0 -80px var(--cor-c0);
}

.tecnologia-bg::after {
  content: "";
  display: block;
  background-image: url("/img/dec/bottom-left.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 160px;
  left: 40px;
  width: 52px;
  height: 52px;
}

.tecnologia {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.tecnologia-conteudo {
}

.tecnologia-conteudo h3 {
}

.caracteristicas {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
