.footer-bg {
  background: var(--cor-c12);
  padding: 60px 0 32px;
}

.footer {
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
  column-gap: 60px;
}

.footer h2 {
  margin-bottom: 32px;
}

.footer .contato > a {
  display: block;
  padding-bottom: 10px;
  transition: color 0.5s;
}

.footer .contato > a:hover {
  color: #fff;
}

.footer .contato .email {
  margin-bottom: 14px;
}

.footer .contato .email::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-c11);
  margin-top: 16px;
}

.footer .contato .endereco {
  margin-bottom: 20px;
}

.footer .contato .endereco::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-c11);
  margin-top: 14px;
}

.footer .redes-sociais {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.footer .footer-menu li {
  padding-bottom: 10px;
}

.footer .footer-menu li a {
  transition: color 0.5s;
}

.footer .footer-menu li a:hover {
  color: #fff;
}

.footer .footer-copy {
  margin-top: 80px;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }

  .footer .contato h2,
  .footer .informacoes h2 {
    margin-bottom: 16px;
  }
  .footer .footer-copy {
    margin-top: 0px;
  }
}
