/* Introdução */
.introducao-bg {
  position: relative;
  background: #000000;
  box-shadow: inset 0 -120px #fff;
}

.introducao-bg::after {
  content: "";
  display: block;
  background-image: url("/img/dec/bottom-left.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 160px;
  left: 40px;
  width: 52px;
  height: 52px;
}

.introducao {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  max-width: 1200px;
  height: 680px;
  margin: 0 auto;
}

.introducao-conteudo h1 {
  margin: 0 0 2rem;
}

.introducao-conteudo h1 .ponto {
  color: #ffbb00;
}

.introducao-conteudo p {
  max-width: 520px;
  color: #b2b2b2;
  margin: 0 0 1.25rem 0;
}

.introducao-img img {
  border-radius: 5px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .introducao-conteudo h1 {
    font-size: 3rem;
  }
  .introducao-conteudo p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111111;
  }

  .introducao-bg::after {
    display: none;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .introducao-conteudo h1 {
    font-size: 2rem;
    margin: 0 0 1rem;
  }

  .introducao-img img {
    height: 300px;
    width: 100%;
  }
}
